  <div class="row">
      <div class="col">
        <nav id="navbar">
            <ul>
                <li>
                    <img src="assets/netflix.svg" routerLink="./home">
                </li>
                <li *ngFor="let item of menu">
                    <a class="fas fa-angle-down"
                        [routerLink]="item.url">
                        {{ item.label }}
                    </a>
                    <ul *ngIf="item.url==='movies'">
                        <li *ngFor="let genre of moviesGenres"
                        [routerLink]="['/dashboard/movies/genres',genre.id, genre.name]">
                            <a>
                                {{ genre.name }}
                            </a>
                        </li>
                    </ul>
                    <ul *ngIf="item.url==='tv-shows'">
                        <li [routerLink]="['/dashboard/tv-shows/genres',genre.id, genre.name]"
                            *ngFor="let genre of tvShowsGenres">
                            <a>
                                {{ genre.name }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
      </div>
      <div class="col">
        <form [formGroup]="myForm" class="row">
            <input  class="col" 
                    type="search" 
                    placeholder="Search"
                    formControlName="search"
                    (input)="suggest()"
                    (keyup.enter)="searchContent()"
                    >

          </form>
          <ul class="list-group">
              <li  *ngFor="let media of suggestedMedia"
                   class="list-search" 
                   (click)="moveToDetail( media )"
              >
                  {{ media.name || media.title }}
              </li>
              <li *ngIf="suggestedMedia.length > 0"
                  class="list-search" 
                  (click)="searchContent()">
                  Search: "{{ value }}"
              </li>
          </ul>
     
      </div>
  </div>

    

