a{
    margin: 10px;
}

img{
    width: 100px;
}
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #navbar{
      z-index: 3;
  }
  
  #navbar ul {
    list-style: none;
  }
  
  #navbar ul li {
    display: inline-block;
    padding: 1rem;
    position: relative;
  }
  
  /* Hide nested ul by default */
  #navbar ul li ul {
    display: none;
  }
  
  #navbar ul li:hover {
    cursor: pointer;
    background: #141414;
  }
  
  #navbar ul li:hover a {
    color: #333;
  }
  
  /* Nested dropdown show */
  #navbar ul li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    z-index: 4;
    width: 500px;
    margin-top: 1rem;
  }
  
  #navbar ul li:hover ul li {
    display: block;
    background: #141414;
  }

  #navbar ul li:hover ul li a{
      color: white;
  }
  
  #navbar ul li:hover ul li:hover {
    background: #141414;
  }

  #navbar ul li:hover ul li:hover a{
    color: #333;
  }

  @media(max-width: 600px) {
    #navbar ul li {
      display: block;
    }
  
    #navbar ul li:hover ul {
      width: 100%;
      position: relative;
    }
  }

  input{
    margin-top: 1rem;
  }

  input, .list-search{
    background: #141414;
    color: white;
    border: 1px solid #333;
    padding: 5px;
    width: inherit;
    height: 30px;
  }

  .list-search{
      width: 100%;
      height: 30px;
      list-style: none;
      display: block;
      border-radius: 2px;
      cursor: pointer;
  }