app-navbar{
    position: fixed;
    z-index: 9999;
    align-content: center;
    width: 100%;
    background-color: #141414;
}

.router{
    padding-top: 50px;
}

.navbar{
    max-width: inherit;
    margin-top: 20px;
    
}